body {
    &:not(.dark) {
        --body-background: var(--color-gray-98);
        --body-foreground: var(--color-gray-10);
    }

    &.dark {
        --body-background: var(--color-gray-10);
        --body-foreground: var(--color-gray-98);
    }
}
