/**************** SHAPES **************/
@mixin rounded-corners($size) {
    @if $size == small {
        border-radius: var(--rounded-corner-border-radius--small);
    } @else if $size == large {
        border-radius: var(--rounded-corner-border-radius--large);
    }
}

@mixin ellipse {
    border-radius: 999rem;
}
