@use "./colors";
@use "./components";
@use "./theme-management";
@use "./typography";
@use "./utils";
@use "./variables";

*,
*::before,
*::after {
    color: inherit;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-background);
    color: var(--body-foreground);

    max-width: 120rem;
    width: 100%;
    min-height: 100vh;

    margin: auto;
}

@for $i from 1 to 6 + 1 {
    h#{$i} {
        @include typography.apply('h#{$i}');
    }
}

button {
    all: unset;

    cursor: pointer;
}

svg {
    display: inline-flex;

    width: 1em;
    height: 1em;
}
